<div class="container mt-5 mb-5">
  <div class="titulo">
    <h3>Meus lembretes</h3>
  </div>
  <div class="corpo">
    <div class="row">
      <div class="col-sm mt-5 mb-5 ml-5">
        <div class="card text-black bg-light mb-3" style="max-width: 20rem">
          <div class="card-header bg-danger"></div>
          <div class="card-body">
            <p class="card-title">Titulo: Prova de biologia e geografia</p>
            <p class="card-text">Criação: 24/10/2020.</p>
            <p class="card-text">
              Hoje tenho que estudar para prova de biologia, geografia.
              Professor falou que irá cair sobre biomas brasileiros, mapa do
              brasil e DNA humano. Hoje tenho que estudar para prova de
              biologia, geografia. Professor falou que irá cair sobre biomas
              brasileiros, mapa do brasil e DNA humano..
            </p>
            <p class="card-text">Expira em: 30/10/2020</p>
          </div>
        </div>
      </div>
      <div class="col-sm mt-5 mb-5 ml-5">
        <div class="card text-black bg-light mb-3" style="max-width: 20rem">
          <div class="card-header bg-danger"></div>
          <div class="card-body">
            <p class="card-title">Titulo: Prova de biologia e geografia</p>
            <p class="card-text">Criação: 24/10/2020.</p>
            <p class="card-text">
              Hoje tenho que estudar para prova de biologia, geografia.
              Professor falou que irá cair sobre biomas brasileiros, mapa do
              brasil e DNA humano. Hoje tenho que estudar para prova de
              biologia, geografia. Professor falou que irá cair sobre biomas
              brasileiros, mapa do brasil e DNA humano..
            </p>
            <p class="card-text">Expira em: 30/10/2020</p>
          </div>
        </div>
      </div>
      <div class="col-sm mt-5 mb-5 ml-5 mr-5">
        <div class="card text-black bg-light mb-3" style="max-width: 20rem">
          <div class="card-header bg-danger"></div>
          <div class="card-body">
            <p class="card-title">Titulo: Prova de biologia e geografia</p>
            <p class="card-text">Criação: 24/10/2020.</p>
            <p class="card-text">
              Hoje tenho que estudar para prova de biologia, geografia.
              Professor falou que irá cair sobre biomas brasileiros, mapa do
              brasil e DNA humano. Hoje tenho que estudar para prova de
              biologia, geografia. Professor falou que irá cair sobre biomas
              brasileiros, mapa do brasil e DNA humano..
            </p>
            <p class="card-text">Expira em: 30/10/2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Falta implementar alguns icones nos cards e ajustar o background para preencher toda a página-->
