.topo {
  justify-content: space-between;
  width: 100%;
}

.topo img {
  width: 250px;
  display: flex;
}

button{
  padding: 5px;
  width: 120px;
  height: 40px;
  align-items: center;
  display: flex;
  border-radius: 7px;
  text-align: center;
  margin-top: 20px;
}

button:hover{
  border: none;
  background-color: #999999;
  transition: 0.5s;
}

