<form class="form-logon" [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="input-group mb-3 col-md-3 col-12 mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
    <input
      formControlName="email"
      type="text" class="form-control"
      placeholder="email@exemplo.com.br" aria-describedby="basic-addon1"
      required
    />
  </div>
  <div class="input-group mb-3 col-md-3 col-12 mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <i class="fas fa-key"></i>
      </span>
    </div>
    <input
      type="password" class="form-control"
      formControlName="password"
      placeholder="Senha"  aria-describedby="basic-addon1"
      required
    >
  </div>

  <button type="submit" class="btn btn-logon mt-4" >Entrar</button>
</form>
