.corpo {
    background: #e9e7e7;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  }

.card{
    background-color: #DC1845 !important;
    cursor: pointer;
}

.card:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  transition: 0.4s;
}

.card-item{
  height: 230px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.text-item {
  color: white;
  display: flex;
  font-size: 1.2rem;
  margin: 0;
}

.btn-danger{
    background-color: transparent;
    border-color: transparent;
}

svg {
  color: white;
  margin: 0;
}

@media(max-width: 600px) {
  svg {
    width: 20%;
  }
}
