.form-group{
    align-items: center !important;
}
.porta{
    size: 10px ;
}
::placeholder{
    color: black;
}
#nome, #email, #senha, #btnSalvar{
    border-radius: 7px !important;
}


/*Transição de botão*/
#btnSalvar{
  background: #d1d1d1;
  text-align: center !important;

  transition: background-color 500ms;
}

#btnSalvar:hover{
  background: #92929241;
}
