.texto {
  display: inline-block;
  position: absolute;
  width: 40%;
  height: 20%;
  top: 6%;
}
.botao {
  position: absolute;
  width: 15%;
  height: 8%;
  margin-left: 80%;
  top: 5%;
}
.topo img {
  width: 250px;
}
