<form>
  <div class="form-group mx-auto col-md-6 p-3">
    <input
      type="text" class="shadow-lg p-2 form-control"
      placeholder="Nome de usuario"
      [(ngModel)]="user.name" name="name"
      required
      >
  </div>

  <div class="form-group mx-auto col-md-6 p-3">
      <input type="email" class="shadow-lg p-2 form-control" placeholder="Email" required
        [(ngModel)]="user.email" name="email">
  </div>

  <div class="form-group mx-auto col-md-6 p-3">
      <input type="password" class="shadow-lg p-2 form-control" placeholder="Senha"
        [(ngModel)]="user.password" name="password">
  </div>
  <div class="mx-auto col-md-3" >
    <img src="./assets/img/iconeCadastro.svg" class="mb-5 col-3" alt="logo-porta">
    <button type="submit" id="btnSalvar" class="btn btn-light shadow-lg mb-5 col-6 p-2" (click)="createUser()">
      Salvar
    </button>
  </div>
</form>
