<p>bjsabdjsa</p>

<div class="header col-12 text-center">
  <img id="logo" src="../../../assets/img/logo-white.png" alt="logo">
</div>

<p class="title">Faça seu login</p>

<app-form-logon></app-form-logon>

<div class="row cards">
  <div class="logo-persona img-fluid col-md-3">
    <img id="img-left" src="../../../assets/img/pessoas-login.png" alt="logo-persona">
  </div>
  <div class="register col-md-6">
    <p class="description">Faça seu cadatro, e gerencie suas tarefas com facilidade!</p>
    <div class="input-group group-register" >
      <button class="btn-register" [routerLink="['/cadastro']">
        <i class="fas fa-sign-out-alt mr-2 white"></i>Cadastrar
      </button>
    </div>
  </div>
  <div class="logo-tasks img-fluid col-md-3">
    <img id="img-right" src="../../../assets/img/Tasks_Header.png" alt="logo-tasks">
  </div>
</div>


