
#logo {
  width: 700px;
  margin-top: -110px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: -10%;
  margin-bottom: 30px;
}

.btn-logon {
  width: 174px;
  height: 40px;
  background-color: #A59C9C;
  border-radius: 8px;
  border: 1px solid black;
  text-align: center;
}

.btn-logon:hover {
  border: none;
}

.form-logon {
  text-align: center;
}


::-moz-placeholder {
  font-size: 12px;
}

::-webkit-input-placeholder {
  font-size: 12px;
}


.description{
  margin-top: 60px;
  color: white;
  font-size: 16px;
  max-width: 300px;
  display: block;
  margin-left: 25%;
  margin-right: auto;
  text-align: justify;
}

.btn-register {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  display: block;
  margin-left: 24%;
  margin-right: auto;
  text-align: justify;
}

.btn-register:hover {
  transition: 0.3s;
  opacity: 0.4;
}
#img-left {
  position: absolute;
  bottom: -35%;
  left: 0;
  width: 100%;
}

#img-right {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right:0;
  bottom: -25%;
  width: 100%;
}

@media(max-width: 600px) {
  #img-right,
  #img-left {
    display: none;
  }

  .title {
    margin-top: -100px;
  }

  #logo {
    width: 400px;
    margin: 0;
  }

  .btn-register,
  .description {
    margin-left: 0;
  }
}
