<p class="title">Faça seu login</p>

<form class="form-logon">
  <div class="input-group mb-3 col-md-3 col-12 mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input type="text" class="form-control" placeholder="email@exemplo.com.br" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3 col-md-3 col-12 mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input type="text" class="form-control" placeholder="Senha"  aria-describedby="basic-addon1">
  </div>

  <button type="submit" class="btn btn-logon mt-4">Entrar</button>
</form>

<div class="register">
  <p class="description">Faça seu cadatro, e gerencie suas tarefas com facilidade!</p>
  <div class="input-group group-register" >
    <span>
      <i class="fas fa-sign-out-alt"></i>
    </span>
    <p class="description">Cadastrar</p>
  </div>
</div>
