<div class="sidebar">
  <div class="sidebar-wraper">
    <div class="sidebar-titulo">
      <div class="titulo-sidebar">
        <h1>Ficamos felizes em ver você de volta!</h1>
      </div>
    </div>
    <ul class="nav siderbar-menu">
      <li class="nav-item">
        <span>
          <i class="fas fa-home"></i>
        </span>
        <a class="nav-link" routerLink="/home">Inicio</a>
      </li>
      <li class="nav-item">
        <span>
          <i class="fas fa-clipboard-list"></i>
        </span>
        <a class="nav-link" routerLink="/my-tasks/tasks-finishi">Concluídos</a>
      </li>
      <li class="nav-item">
        <span>
          <i class="fas fa-user"></i>
        </span>
        <a class="nav-link">Perfil</a>
      </li>
      <li class="nav-item">
        <span>
          <i class="fas fa-plus"></i>
        </span>
        <a class="nav-link" routerLink="/tasks">Novo lembrete</a>
      </li>
      <li class="nav-item">
        <span>
          <i class="fas fa-power-off"></i>
        </span>
        <a class="nav-link" routerLink="/">Sair</a>
      </li>
    </ul>
  </div>
</div>
