<div class="sidebar">
  <div class="logo-inicio">
  </div>
  <div class="logo-perfil">

  </div>
  <div class="logo-concluidos">

  </div>
  <div class="sidebar-wraper">
    <div class="sidebar-titulo">
      <label for="chec">

      </label>
      <div class="titulo-sidebar">
        <h1>Bem vindo, Vinicius</h1>
      </div>
    </div>
    <div class="siderbar-menu">
      <a class="item-menu" routerLinkActive="/home">Inicio</a>
      <a class="item-menu" routerLinkActive="">Concluídos</a>
      <a class="item-menu" routerLinkActive="/home">Perfil</a>
    </div>
  </div>
</div>
