.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header img {
  width: 20%;
}

h3{
  text-align: center;
  font-size: 1.5rem;
}

span {
  align-items: center;
}

button {
  height: 40px;
  margin: 2%;
}

@media(max-width: 600px) {
  .header img {
    width: 50%;
  }

  button {
      width: 80px;
      margin: 6%;
      font-size: 15px;
  }

  span {
    margin-left: -20px;
  }

  h3 {
    margin-top: 30px;
  }
}
