<div class="container mb-5">
  <div class="corpo">
    <div class="row">
      <div class="col-sm mt-5 mb-5 ml-5">
        <div class="card text-black bg-light mb-3" style="max-width: 20rem">
          <div class="card-header bg-danger"></div>
          <div class="card-body">
            <p class="card-title">Titulo: Prova de biologia e geografia</p>
            <div class="logo-calendario">
              <img src="assets/img/calendario.png" alt="calendario" />
            </div>
            <p class="card-text ml-4">Criação: 24/10/2020.</p>
            <p class="card-text">
              Hoje tenho que estudar para prova de biologia, geografia.
              Professor falou que irá cair sobre biomas brasileiros, mapa do
              brasil e DNA humano. Hoje tenho que estudar para prova de
              biologia, geografia. Professor falou que irá cair sobre biomas
              brasileiros, mapa do brasil e DNA humano..
            </p>
            <div class="logo-expiracao">
              <img src="assets/img/expiracao.png" alt="sino" />
            </div>
            <div class="logo-salvar">
              <img src="assets/img/salvar.png" alt="salvar" />
            </div>
            <div class="logo-adicionar">
              <img src="assets/img/+.png" alt="salvar" />
            </div>
            <div class="logo-anotacao">
              <img src="assets/img/anotacao.png" alt="anotacao" />
            </div>
            <div class="logo-apagar">
              <img src="assets/img/apagar.png" alt="apagar" />
            </div>
            <p class="card-text ml-4 mb-5">Expira em: 30/10/2020</p>
          </div>
        </div>
      </div>
      <div class="col-sm mt-5 mb-5 ml-5">
        <div class="card text-black bg-light mb-3" style="max-width: 20rem">
          <div class="card-header bg-danger"></div>
          <div class="card-body">
            <p class="card-title">Titulo: Prova de biologia e geografia</p>
            <div class="logo-calendario">
              <img src="assets/img/calendario.png" alt="calendario" />
            </div>
            <p class="card-text ml-4">Criação: 24/10/2020.</p>
            <p class="card-text">
              Hoje tenho que estudar para prova de biologia, geografia.
              Professor falou que irá cair sobre biomas brasileiros, mapa do
              brasil e DNA humano. Hoje tenho que estudar para prova de
              biologia, geografia. Professor falou que irá cair sobre biomas
              brasileiros, mapa do brasil e DNA humano..
            </p>
            <div class="logo-expiracao">
              <img src="assets/img/expiracao.png" alt="expiracao" />
            </div>
            <div class="logo-salvar">
              <img src="assets/img/salvar.png" alt="salvar" />
            </div>
            <div class="logo-adicionar">
              <img src="assets/img/+.png" alt="salvar" />
            </div>
            <div class="logo-anotacao">
              <img src="assets/img/anotacao.png" alt="anotacao" />
            </div>
            <div class="logo-apagar">
              <img src="assets/img/apagar.png" alt="apagar" />
            </div>
            <p class="card-text ml-4 mb-5">Expira em: 30/10/2020</p>
          </div>
        </div>
      </div>
      <div class="col-sm mt-5 mb-5 ml-5 mr-4">
        <div class="card text-black bg-light mb-3" style="max-width: 20rem">
          <div class="card-header bg-danger"></div>
          <div class="card-body">
            <p class="card-title">Titulo: Prova de biologia e geografia</p>
            <div class="logo-calendario">
              <img src="assets/img/calendario.png" alt="calendario" />
            </div>
            <p class="card-text ml-4">Criação: 24/10/2020.</p>
            <p class="card-text">
              Hoje tenho que estudar para prova de biologia, geografia.
              Professor falou que irá cair sobre biomas brasileiros, mapa do
              brasil e DNA humano. Hoje tenho que estudar para prova de
              biologia, geografia. Professor falou que irá cair sobre biomas
              brasileiros, mapa do brasil e DNA humano..
            </p>
            <div class="logo-expiracao">
              <img src="assets/img/expiracao.png" alt="expiracao" />
            </div>
            <div class="logo-adicionar">
              <img src="assets/img/+.png" alt="salvar" />
            </div>
            <div class="logo-anotacao">
              <img src="assets/img/anotacao.png" alt="anotacao" />
            </div>
            <div class="logo-apagar">
              <img src="assets/img/apagar.png" alt="apagar" />
            </div>
            <p class="card-text ml-4 mb-5">Expira em: 30/10/2020</p>
            <div class="logo-salvar">
              <img src="assets/img/salvar.png" alt="salvar" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
