.container {
  display: block;
  margin-right: 10px;
  border-radius: 5px;
  background: #e2dada;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}
.card {
  background: #e9e7e7;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

.card-body {
  padding: 25px;
}

.text-start,
.text-end {
  display: flex;
  align-items: center;
}

.btn-excluir,
.btn-finishi,
.btn-new {
  background-color: none;
  border: none;
  cursor: pointer;
}

.fa-check-circle {
  color: green;
}

.fa-times-circle,
.fa-plus,
.fa-calendar-alt,
.fa-calendar-check {
  color: red;
}

.text-description{
  height: 200px;
}





